.squareRoom0 {
  position: relative;
  left: 410px;
  width: 300px;
  height: 220px;
  font-size: large;
  color: white;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.squareRoomOthers {
  position: relative;
  left: 410px;
  width: 100px;
  height: 160px;
  font-size: large;
  color: white;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.squareTemp1 {
  background: rgb(180, 210, 255);
}

.squareTemp2 {
  background: rgb(130, 170, 255);
}

.squareTemp3 {
  background: rgb(90, 140, 250);
}

.squareTemp4 {
  background: rgb(60, 120, 255);
}

.squareTemp5 {
  background: rgb(30, 100, 240);
}

.squareTemp6 {
  background: rgb(0, 70, 210);
}

.label0 {
  color: rgb(49, 98, 231);
  position: relative;
  left: 410px;
}

.label {
  position: relative;
  left: 410px;
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 100px;
}

.label1 {
  color: rgb(185, 29, 29);
}

.label2 {
  color: rgb(13, 148, 65);
}

.label3 {
  color: rgb(7, 190, 177);
}

.label4 {
  color: rgb(126, 5, 207);
}

.label5 {
  color: rgb(9, 157, 205);
}

.label6 {
  color: rgb(216, 150, 29);
}

.temp {
  font-size: small;
  color: black;
  position: relative;
  left: 410px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 69px;
}

.inputs {
  float: left;
}
